In [1]:
import pandas as pd
import numpy as np
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.remote.webelement import WebElement
from selenium.webdriver.chrome.options import Options
from selenium.common.exceptions import InvalidSessionIdException
import string
import json
import time
import re

options = Options()
options.add_argument('headless')
options.add_argument('--lang=it')

driver = webdriver.Chrome(options=options)

df = pd.read_json ("data/reviews.json",lines=True)
#n = df.shape[0]
#print(n)

In [6]:
df.columns

126

In [3]:
n = df.shape[0]
geonames_id = np.zeros(n)
df['geonames_id'] = geonames_id

In [4]:
df.columns

Index(['Name', 'City', 'Rating', 'Review', 'Hometown', 'Date_of_stay',
       'Trip_type', 'geonames_id'],
      dtype='object')

In [5]:
countries = df.Hometown.unique()
countries

geonames = []


for i in range(len(countries)):
    splittato = countries[i].split(' ')

    #for j in range(len(splittato)):
    if(len(splittato)==2):
        
        splittato.insert(1, '+')
        #print(splittato)
        
    elif(len(splittato)==3):
        splittato.insert(1, '+')
        splittato.insert(3, '+')
        #print(splittato)
    
    api_geo = "".join(splittato)
    #print(api_geo)
    driver.get("https://www.geonames.org/search.html?q=" + api_geo)
    record = driver.find_element_by_xpath("//tbody/tr[3]/td[2]/a[1]").click() #click del primo link che trovo
    time.sleep(2)
    geonames_id = driver.find_element_by_xpath("//div[@data-geonameid]/div[2]/a").text #numero di geoname_id
    #print(api_geo + ':' + geonameid)
    new_geo = api_geo.replace('+',' ')
    #print(geonames_id)
    geonames.append(geonames_id)
    
    data = {'country': list(countries), 'geonames_id': geonames}
dataff = pd.DataFrame(data)
dataff.to_json('data/country_geonames_id.json')

    
    
driver.close()

In [8]:
df = pd.read_json ("data/country_geonames_id.json")

In [9]:
df

         country  geonames_id
0    Regno Unito      2635167
1         Italia      3175395
2         Spagna      2510769
3       Germania      2921044
4    Stati Uniti      6255150
..           ...          ...
121       Kosovo       831053
122    Palestina      6254930
123      Bahamas      3572887
124    Leicester      2644668
125  Azerbaigian       587116

[126 rows x 2 columns]