In [5]:
import pandas as pd
import numpy as np

In [6]:
df_reviews = pd.read_json ("data/reviews.json",lines=True)
df_geo = pd.read_json ("data/country_geonames_id.json")
df_geo['country'].unique()

array(['Regno Unito', 'Italia', 'Spagna', 'Germania', 'Stati Uniti',
       'Argentina', 'Corea del Sud', 'Paesi Bassi', 'Australia',
       'Austria', 'Nuova Zelanda', 'Canada', 'Finlandia', 'Francia',
       'Cina', 'Svezia', 'Svizzera', 'Romania', 'Israele', 'Messico',
       'Giappone', 'Brasile', 'Egitto', 'Repubblica Ceca', 'Russia',
       'Montenegro', 'Portogallo', 'Thailandia', 'Bosnia e Erzegovina',
       'Belgio', 'Irlanda', 'Ungheria', 'Indonesia', 'Cipro', 'Danimarca',
       'Malta', 'Grecia', 'Panama', 'India', 'Polonia', 'Nepal',
       'Norvegia', 'Turchia', 'Uruguay', 'Emirati Arabi Uniti', 'Ucraina',
       'Lussemburgo', 'Cile', 'Sudafrica', 'Singapore',
       'Repubblica Dominicana', 'Croazia', 'Albania', 'Sri Lanka',
       'Filippine', 'Andorra', 'Malesia', 'Slovenia', 'Costa Rica',
       'Porto Rico', 'Lettonia', 'Marocco', 'Serbia', 'Libia', 'Perù',
       'Libano', 'Oman', 'Arabia Saudita', 'Colombia', 'Lituania',
       'Africa', 'San Marino', 'Macedonia', 'Bulgaria', 'Tunisia',
       'Vietnam', 'Venezuela', 'Kenya', 'Liechtenstein', 'Slovacchia',
       'Tanzania', 'Bahrein', 'Laos', 'Cambogia', 'Estonia', 'Giordania',
       'Paraguay', 'Corea del Nord', 'Barbados', 'Islanda', 'Bielorussia',
       'Ecuador', 'Armenia', 'Pakistan', 'Cuba', 'Qatar', 'Siria',
       'Etiopia', 'Principato di Monaco', 'Figi', 'Kazakistan',
       'Portorico', 'Antartide', 'Maldive', 'Giamaica', 'Honduras',
       'Bolivia', 'Ghana', 'Turkmenistan', 'Iraq', 'Iran', 'Taiwan',
       'Namibia', 'Gambia', 'Congo', 'Georgia', 'Mozambico', 'Hawaii',
       'Birmania', 'Bhutan', 'Mauritius', 'Kosovo', 'Palestina',
       'Bahamas', 'Leicester', 'Azerbaigian'], dtype=object)

In [7]:
n = df_reviews.shape[0]
geonames_id = np.zeros(n)
df_reviews['geonames_id'] = geonames_id

In [8]:
for i in range(0,len(df_geo)):
    print(df_geo['country'][i])
    print(df_geo['geonames_id'][i])
    m = df_reviews['Hometown'] == df_geo['country'][i]
    df_reviews.loc[m, 'geonames_id'] = df_geo['geonames_id'][i]
df_reviews.to_json('data/reviews_with_geo1.json')

Regno Unito
2635167
Italia
3175395
Spagna
2510769
Germania
2921044
Stati Uniti
6255150
Argentina
3865483
Corea del Sud
1835841
Paesi Bassi
2750405
Australia
2077456
Austria
2782113
Nuova Zelanda
2186224
Canada
6251999
Finlandia
660013
Francia
3017382
Cina
1814991
Svezia
2661886
Svizzera
2658434
Romania
798549
Israele
294640
Messico
3996063
Giappone
1861060
Brasile
3469034
Egitto
357994
Repubblica Ceca
3077311
Russia
2017370
Montenegro
3194884
Portogallo
2264397
Thailandia
1605651
Bosnia e Erzegovina
3277605
Belgio
2802361
Irlanda
2963597
Ungheria
719819
Indonesia
1643084
Cipro
146669
Danimarca
2623032
Malta
2562770
Grecia
390903
Panama
3703430
India
1269750
Polonia
798544
Nepal
1282988
Norvegia
3144096
Turchia
298795
Uruguay
3439705
Emirati Arabi Uniti
290557
Ucraina
690791
Lussemburgo
2960313
Cile
3895114
Sudafrica
953987
Singapore
1880252
Repubblica Dominicana
3492908
Croazia
3202326
Albania
783754
Sri Lanka
1227603
Filippine
1694008
Andorra
3041565
Malesia
1733045
Slovenia
3190538
Costa Rica
3624060
Porto Rico
4566966
Lettonia
458258
Marocco
2542007
Serbia
6290252
Libia
2215636
Perù
3932488
Libano
272103
Oman
286963
Arabia Saudita
102358
Colombia
3686110
Lituania
597427
Africa
6255146
San Marino
3168070
Macedonia
718075
Bulgaria
732800
Tunisia
2464470
Vietnam
1562822
Venezuela
3625428
Kenya
192950
Liechtenstein
3042058
Slovacchia
3057568
Tanzania
149590
Bahrein
290291
Laos
1655842
Cambogia
1831722
Estonia
453733
Giordania
248816
Paraguay
3437598
Corea del Nord
1873107
Barbados
3374084
Islanda
2629691
Bielorussia
630336
Ecuador
3658394
Armenia
174982
Pakistan
1168579
Cuba
3562981
Qatar
289688
Siria
163843
Etiopia
337996
Principato di Monaco
2993457
Figi
2205218
Kazakistan
1522867
Portorico
4566966
Antartide
6255152
Maldive
1282028
Giamaica
3489940
Honduras
3608932
Bolivia
3923057
Ghana
2300660
Turkmenistan
1218197
Iraq
99237
Iran
130758
Taiwan
1668284
Namibia
3355338
Gambia
2413451
Congo
2260494
Georgia
614540
Mozambico
1036973
Hawaii
5855797
Birmania
1327865
Bhutan
1252634
Mauritius
934292
Kosovo
831053
Palestina
6254930
Bahamas
3572887
Leicester
2644668
Azerbaigian
587116

In [11]:
df_reviews1 = pd.read_json ("data/reviews_with_geo.json")

In [12]:
df_reviews1

,Name,City,Rating,Review,Hometown,Date_of_stay,Trip_type,geonames_id
0,Delle Vittorie Luxury Rooms & Suites,Palermo,5,Excellent facilities in a spacious luxurious l...,Regno Unito,settembre 2019,,2635167
1,Bed and Breakfast Il Rifugio,Caltanissetta,5,location molto comoda...Ti permette di postegg...,Italia,settembre 2019,Ha viaggiato con amici,3175395
2,Delle Vittorie Luxury Rooms & Suites,Palermo,5,estuvimos alojados 4 noches y no puedo poner n...,Spagna,febbraio 2020,,2510769
3,Garibaldi R&B,Messina,5,Graziosissimo R&B con vista sullo stretto. Ott...,Italia,gennaio 2020,Ha viaggiato per affari,3175395
4,Bed and Breakfast Il Rifugio,Caltanissetta,5,Arrivato in questo B&B quasi X caso e cioè gra...,Italia,giugno 2019,Ha viaggiato da solo,3175395
...,...,...,...,...,...,...,...,...
45343,Sabbinirica,Ragusa,5,It is a very nice hotel. The hotel is very new...,Germania,novembre 2017,Ha viaggiato con la famiglia,2921044
45344,Itria Palace,Ragusa,4,Il mio fidanzato ed io abbiamo pernottato in q...,Italia,agosto 2020,Ha viaggiato in coppia,3175395
45345,Itria Palace,Ragusa,5,Partiamo dalla gentilezza e la disponibilità d...,Italia,agosto 2020,Ha viaggiato in coppia,3175395
45346,Itria Palace,Ragusa,4,"Bellissimo hotel, grande gentilezza e posizion...",Italia,luglio 2020,,3175395
45347,Itria Palace,Ragusa,5,Una struttura accogliente con annesso parchegg...,Italia,agosto 2020,Ha viaggiato in coppia,3175395